name: Cockroach Terraform Provider Post Build
on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*.*.*'

jobs:

  # Post job to build terraform-provider on merge to master
  post-build:
    name: build-terraform-provider
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23

      - name: Build terraform-provider
        run: make install

